.login {
  width: 100%;
  height: 100%;
  background-color: var(--background-primary);
  display: flex;

  &__card {
    flex: 1;
    @include flexbox(center, center);
  }

  &__image {
    flex: 1;
    background-color: var(--surface-warning);
    position: relative;
    overflow: hidden;

    &-dashboard {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &-decoration:first-child {
      position: absolute;
      top: -3rem;
      left: -3rem;
    }

    &-decoration:nth-child(2) {
      position: absolute;
      top: 28.5rem;
      right: -10rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .login {
    &__image {
      display: none;
    }
  }
}

@media screen and (min-width: 901px) and (max-width: 1280px) {
  .login {
    &-form {
      width: 25rem;
    }
    &__image {
      &-decoration {
        width: 25rem;
        height: 25rem;
        &:first-child {
          top: -5rem;
          left: -5rem;
        }
        &:nth-child(2) {
          top: 20rem;
        }
      }
      &-dashboard {
        width: 30rem;
        bottom: -2rem;
      }
    }
  }
}
