.login-form {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  border-radius: $radius-rounded;
  padding: $spacing-24;
  width: 30rem;
  @include flexbox(center, center, column, $spacing-24);

  &__logo {
    width: 100%;
  }

  &__info {
    width: 100%;
    text-align: center;
    @include flexbox(center, center, column, $spacing-4);

    &-welcome {
      @include text($text-size-xl, $font-weight-semibold, $text-line-height-xl);
    }

    &-signup {
      @include text(
        $text-size-m,
        $font-weight-medium,
        $text-line-height-m,
        var(--text-primary-placeholder)
      );
      &-link {
        color: var(--text-primary);
        margin-left: $spacing-4;
      }
    }
  }
  &__separator {
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    @include text(
      $text-size-m,
      $font-weight-medium,
      $text-line-height-m,
      var(--text-primary-placeholder)
    );

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: calc(50% - $spacing-20);
      border-bottom: 1px solid var(--border-primary);
    }
    &::before {
      left: 0;
      margin-right: $spacing-20;
    }

    &::after {
      right: 0;
      margin-left: $spacing-20;
    }
  }
}
