.music-navigation__wrapper {
  @include flexbox(center, center, row, $spacing-36);
  .music-navigation__icon {
    cursor: pointer;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0.2rem;
      height: 0.2rem;
      bottom: -25%;
      left: 50%;
      transform: translate(-50%);
      background-color: var(--surface-invert);
      border-radius: $radius-full;
      opacity: 0;
    }
    &:hover:first-child,
    &:hover:last-child {
      &::after {
        opacity: 1;
      }
    }
    &--active {
      &::after {
        opacity: 1;
        background-color: var(--surface-brand);
      }
      svg > path {
        stroke: var(--surface-brand);
      }
    }
  }
}
