.btn {
  @include button();

  &-primary {
    background-color: var(--surface-warning);
    &:hover {
      background-color: var(--surface-brand);
    }
  }

  &-outline {
    border: 1px solid var(--border-primary);
    color: var(--text-primary);
    &:hover {
      background-color: var(--surface-primary-active);
    }
  }

  &-small {
    @include button(small);
    color: var(--text-primary);
    &:hover {
      background-color: var(--surface-primary-active);
    }
    &-outline {
      border: 1px solid var(--border-primary);
      color: var(--text-primary);
      &:hover {
        background-color: var(--surface-primary-active);
      }
    }
    &-primary {
      background-color: var(--surface-warning);
      &:hover {
        background-color: var(--surface-brand);
      }
    }
  }
  &-icon {
    @include button(small-square);
    color: var(--text-primary);
    &:hover {
      background-color: var(--surface-primary-active);
    }
  }
}
.btn-active {
  background-color: var(--surface-invert);
}
