.btn {
  @include button(regular);
  transition: 0.3s ease-in-out;
  &-primary {
    background-color: var(--surface-warning);
    &:hover {
      background-color: var(--surface-brand-hover);
      color: var(--text-invert);
    }
    &:focus {
      background-color: var(--surface-brand-focused);
      color: var(--text-invert);
    }
  }

  &-outline {
    border: 1px solid var(--border-primary);
    color: var(--text-primary);
    &:hover {
      background-color: var(--surface-primary-active);
    }
    &:focus {
      border: 2px solid var(--border-primary);
    }
  }
  &-neutral {
    background-color: var(--surface-invert);
    color: var(--text-invert);
    &:hover {
      background-color: var(--surface-primary-active);
      color: var(--surface-invert);
    }
  }
}

.btn-small {
  transition: 0.3s ease-in-out;
  &-outline {
    @include button(small);
    border: 1px solid var(--border-primary);
    color: var(--text-primary);
    &:hover {
      background-color: var(--surface-primary-active);
    }
  }
  &-primary {
    @include button(small);
    background-color: var(--surface-warning);
    &:hover {
      background-color: var(--surface-brand);
      color: var(--text-invert);
    }
    &:focus {
      background-color: var(--surface-brand-focused);
      color: var(--text-invert);
    }
  }
  &-neutral {
    @include button(small);
    background-color: var(--surface-invert);
    color: var(--text-invert);
    &:hover {
      background-color: var(--surface-primary-active);
      color: var(--surface-invert);
    }
  }
  &-text {
    @include button(small);
    background-color: transparent;
    color: var(--text-primary);
  }
}

.btn-icon {
  transition: 0.3s ease-in-out;
  @include button(icon);
  color: var(--text-primary);
  &:hover {
    background-color: var(--surface-primary-active);
  }
}
