.premium-container {
  @include flexbox(start, start, column, $spacing-20);
  padding: $spacing-16;
  border: 1px solid var(--border-primary);
  border-radius: $radius-rounded;
  &__header {
    @include flexbox(start, center, row, $spacing-12);
    &-icon {
      display: flex;
      padding: $spacing-12;
      border-radius: $radius-full;
      background-color: rgba(238, 204, 68, 0.1);
    }
    &-text {
      @include text(
        $text-size-lg,
        $font-weight-medium,
        $text-line-height-l,
        var(--text-primary)
      );
    }
  }
  &__description {
    @include text(
      $text-size-m,
      $font-weight-regular,
      $text-line-height-m,
      var(--text-primary-placeholder)
    );
  }

  &__buttons-container {
    @include flexbox(start, start, row, $spacing-4);
  }
}
