.category-card {
  @include flexbox(center, start, column, $spacing-8);
  padding: $spacing-12 $spacing-12 $spacing-8 $spacing-12;
  border-radius: $radius-minimal;
  background-color: var(--background-secondary);
  &__image {
    max-width: 9.375rem;
    
  }
  &__title {
    @include text(
      $text-size-m,
      $font-weight-medium,
      $text-line-height-m,
      var(--text-primary)
    );
  }
}
@media screen and (max-width: 1024px) {
  .category-card {
    min-width: calc(100% / 4 - 1.25rem);
    &__image{
      min-width: 100%;
    }
  }
}
