.playlist-table {
  width: 100%;
  &__header-row {
    border-bottom: 1px solid var(--border-primary);
  }
  &__header-cell {
    @include text(
      $text-size-s,
      $font-weight-semibold,
      $text-line-height-s,
      var(--text-secondary)
    );
    padding: $spacing-16;
    text-align: start;
  }
}
