.playlist-table {
  width: 100%;
  &__row {
    cursor: pointer;
    &:hover {
      background-color: var(--surface-primary-active);
    }
  }
  &__cell {
    padding: $spacing-8 $spacing-16;
    text-align: start;
    width: 375.5px;
    vertical-align: middle;

    &:first-child {
      width: 50px;
    }
  }

  &__header {
    border-bottom: 1px solid var(--border-primary);

    &-cell {
      @include text(
        $text-size-s,
        $font-weight-semibold,
        $text-line-height-s,
        var(--text-secondary)
      );
    }
  }

  &__body {
    &-cell {
      @include text(
        $text-size-s,
        $font-weight-regular,
        $text-line-height-s,
        var(--text-secondary)
      );
    }
  }
}
