//grey
$color-grey-950: #0d121c;
$color-grey-900: #121926;
$color-grey-800: #202939;
$color-grey-700: #364152;
$color-grey-600: #4b5565;
$color-grey-500: #697586;
$color-grey-400: #9aa3b2;
$color-grey-300: #cdd5df;
$color-grey-200: #e3e8ef;
$color-grey-100: #eef2f6;
$color-grey-50: #f8fafc;
$color-grey-25: #fcfcfd;

//elevation
$color-elevation-500: #4a4d55;
$color-elevation-400: #3d4149;
$color-elevation-200: #252a33;

//brand
$color-brand-950: #002266;
$color-brand-800: #0040c1;
$color-brand-600: #155eef;
$color-brand-500: #2970ff;
$color-brand-400: #528bff;
$color-brand-50: #eff4ff;

//warning
$color-warning-500: #efcc44;
$color-warning-100: #feefc6;

//error
$color-error-900: #7a271a;
$color-error-800: #912018;
$color-error-600: #d92d20;
$color-error-500: #f04438;
$color-error-100: #fee4e2;

//success
$color-success-900: #074d31;
$color-success-800: #085d3a;
$color-success-600: #079455;
$color-success-500: #17b26a;
$color-success-100: #dcfae6;

//shadow
$color-shadow-dark: rgba(0, 0, 0, 0.05);
$color-shadow-light: rgba(255, 255, 255, 0.05);
