@mixin flexbox(
  $justify: center,
  $align: center,
  $direction: column,
  $gap: null
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  @if $gap {
    gap: $gap;
  }
}

@mixin text(
  $font-size: 1rem,
  $font-weight: normal,
  $line-height: normal,
  $color: inherit
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

@mixin button($size: regular, $border-radius: $radius-base) {
  @include flexbox(center, center, row, $spacing-8);
  @include text(
    $text-size-m,
    $font-weight-regular,
    $text-line-height-m,
    var(--text-dark)
  );
  border-radius: $border-radius;
  cursor: pointer;

  @if $size == regular {
    padding: $spacing-12 $spacing-20;
  } @else if $size == small {
    padding: $spacing-8 $spacing-12;
  } @else if $size == small-square {
    padding: $spacing-8;
  }
}

@mixin badge($size, $color, $border-color:null) {
  @if $size == xs {
    font-size: $text-line-height-xs;
    line-height: $text-line-height-xs;
    padding: $spacing-4 $spacing-8;
  } @else if $size == s {
    font-size: $text-size-s;
    line-height: $text-line-height-s;
    padding: $spacing-4 $spacing-12;
  }

  background-color: $color;
  font-weight: $font-weight-medium;
  border-radius: $radius-full;
  text-align: center;

  @if $border-color {
    border: 1px solid $border-color;
  }
}
