@import "./globals";
@import "./tokens";
@import "./variables";
@import "./reset";
@import "./mixins";
@import "./layout";

//pages
@import "../pages/Login";

//components
@import "../components/input/Input";
@import "../components/button/Button";
@import "../components/login-form/LoginForm";
@import "../components/sidebar/Sidebar";
@import "../components/main/Main";
