.title-cell {
  @include flexbox(start, center, row, $spacing-8);
  width: 100%;
  &__image {
    width: 2.5rem;
    border: 1px solid var(--border-primary);
    border-radius: $radius-minimal;
  }

  &__name {
    @include text(
      $text-size-m,
      $font-weight-semibold,
      $text-line-height-m,
      var(--text-primary)
    );
  }
  &__email {
    @include text(
      $text-size-s,
      $font-weight-medium,
      $text-line-height-s,
      var(--text-primary-placeholder)
    );
  }
}
