.artist-card {
  @include flexbox(center, center, row, $spacing-8);
  padding: $spacing-8;
  &__image {
    width: $avatar-size-m;
    border: 1px solid var(--border-primary);
    border-radius: $radius-minimal;
  }
  &__text-wrapper {
    @include flexbox(center, start);
  }
  &__name {
    @include text(
      $text-size-m,
      $font-weight-regular,
      $text-line-height-m,
      var(--text-primary)
    );
  }
  &__artist {
    @include text(
      $text-size-xs,
      $font-weight-medium,
      $text-line-height-xs,
      var(--text-primary-placeholder)
    );
  }
}
