.navigation {
  width: 100%;
  flex-grow: 1;
}

.navigation-wrapper {
  @include flexbox(start, start, column, $spacing-16);
  width: 100%;
  &__list {
    width: inherit;
    height: inherit;
    &:focus-within {
      border-radius: $radius-base;
      background-color: var(--surface-primary-active);
    }
  }

  &-subnavigation {
    padding-left: $spacing-24;
    &__item {
      @include flexbox(space-between, center, row, $spacing-8);
      @include text(
        $text-size-s,
        $font-weight-medium,
        $text-line-height-s,
        var(--text-secondary)
      );
      width: 100%;
      padding: $spacing-8 $spacing-12;
      border-radius: $radius-base;
      &:hover {
        cursor: pointer;
        background-color: var(--surface-primary-active);
      }
    }
  }
}
