.navigation-wrapper {
  @include flexbox(start, start, column, $spacing-16);
  flex-grow: 1;
  width: 100%;
  &__item {
    @include flexbox(space-between, center, row, $spacing-8);
    width: 100%;
    padding: $spacing-8 $spacing-12;
    border-radius: $radius-base;
    &:hover {
      cursor: pointer;
      background-color: var(--surface-primary-active);
    }
    &.active {
      background-color: var(--surface-primary-active);
      cursor: default;
    }
    &-text {
      @include flexbox(start, center, row, $spacing-12);
      flex-grow: 1;
    }
    &-name {
      @include text(
        $text-size-m,
        $font-weight-medium,
        $text-line-height-m,
        var(--text-primary)
      );
    }
    &-notifications {
      @include flexbox(start, center, row, $spacing-12);
    }
  }
}
