.upload {
  width: 100%;
  height: 100%;
  min-width: 350px;
  @include flexbox(center, center, column, $spacing-16);
  &__wrapper {
    width: 100%;
    @include flexbox(center, center, column, $spacing-12);
    border: 1px solid var(--border-primary);
    border-radius: $radius-base;
    padding: $spacing-16;
    transition: 0.3s ease-in-out;
    flex: 1;
    &:hover {
      border: 1px solid var(--border-brand);
    }
  }
  &__icon-container {
    @include flexbox(center, center, column, $spacing-8);
    padding: $spacing-8;
    border: 1px solid var(--border-primary);
    border-radius: $radius-minimal;
  }
  &__text-wrapper {
    @include flexbox(center, center, column, $spacing-8);
  }
  &__description {
    @include text(
      $text-size-m,
      $font-weight-regular,
      $text-line-height-m,
      var(--text-primary)
    );
    & > input[type="file"] {
      display: none;
    }
    & > label {
      @include text(
        $text-size-m,
        $font-weight-medium,
        $text-line-height-m,
        var(--text-brand)
      );
      cursor: pointer;
    }
  }
  &__extension {
    @include text(
      $text-size-s,
      $font-weight-regular,
      $text-line-height-s,
      var(--text-secondary)
    );
  }
  &__file-list {
    width: 100%;
    @include flexbox(start, start, column, $spacing-16);
  }
}
