.content-section {
  @include flexbox(start, center, column);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  &__featured {
    @include flexbox(center, start, row, $spacing-24);
    width: 100%;
    padding: $spacing-24 $spacing-36 $spacing-40 $spacing-36;
  }
  &__sections {
    @include flexbox(start, center, column, $spacing-32);
    width: 100%;
    height: 100%;
  }
}

.section-wrapper {
  @include flexbox(start, center, column, $spacing-20);
  width: 100%;
  padding-left: $spacing-36;
  &__header {
    @include flexbox(space-between, center, row, $spacing-4);
    width: 100%;
    padding: $spacing-4;
    padding-right: $spacing-36;
    &-title {
      @include text(
        $text-size-2xl,
        $font-weight-semibold,
        $text-line-height-2xl,
        var(--text-primary)
      );
      flex-grow: 1;
    }
  }
  &__carusel {
    @include flexbox(start, center, row, $spacing-20);
    width: 100%;
  }
}

.podcast__carusel {
  @include flexbox(start, center, row);
  width: 100%;
  overflow-x: scroll;
  &-overflow {
    @include flexbox(center, center, row, $spacing-24);
  }
}
