.login {
  width: 100%;
  height: 100%;
  background-color: var(--background-primary);
  display: flex;

  &__card {
    width: 50%;
    height: 100%;
    @include flexbox(center, center);

    &-form {
      background-color: var(--background-secondary);
      border: 1px solid var(--border-primary);
      border-radius: $radius-rounded;
      padding: $spacing-24;
      width: 30rem;
      @include flexbox(center, center, column, $spacing-24);

      &-logo {
        width: 100%;
      }

      &-info {
        width: 100%;
        text-align: center;
        @include flexbox(center, center, column, $spacing-4);

        &-welcome {
          @include text(
            $text-size-xl,
            $font-weight-semibold,
            $text-line-height-xl
          );
        }

        &-signup {
          @include text(
            $text-size-m,
            $font-weight-medium,
            $text-line-height-m,
            var(--text-primary-placeholder)
          );
          &-link {
            color: var(--text-primary);
            margin-left: $spacing-4;
          }
        }
      }
    }
  }

  &__image {
    width: 50%;
    height: 100%;
    background-color: var(--surface-warning);
    position: relative;
    overflow: hidden;

    &-dashboard {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &-decoration:first-child {
      position: absolute;
      top: -3rem;
      left: -3rem;
    }

    &-decoration:nth-child(2) {
      position: absolute;
      top: 28.5rem;
      right: -10rem;
    }
  }
}
