.podcast-section {
  width: 100%;
  @include flexbox(start, center, column);
  padding: 0 $spacing-36;
  margin-top: $spacing-24;
  flex-grow: 1;
  &__header {
    width: 100%;
    @include flexbox(space-between, center, row);
    &-text {
      @include text(
        $display-size-s,
        $font-weight-regular,
        $display-line-height-s,
        var(--text-primary)
      );
    }
    &-wrapper {
      @include flexbox(center, center, row, $spacing-12);
    }
  }
  &__form {
    @include flexbox(start, censtarter, row, $spacing-20);
    width: 100%;
    padding-top: $spacing-40;
    &-inputs {
      width: 100%;
      padding: $spacing-24;
      background-color: var(--background-secondary);
      border-radius: $radius-rounded;
      @include flexbox(start, start, column, $spacing-20);
    }
    &-upload {
      width: 100%;
    }
  }
}
