.sidebar {
  flex: 1;
  min-width: 19rem;
  padding: $spacing-24;
  @include flexbox(start, start, column, $spacing-24);
  background-color: var(--background-secondary);
  border-right: 1px solid var(--border-primary-lighter);
  overflow-y: auto;

  &__header {
    width: 100%;
    padding: $spacing-12 0;
  }
}
